{% extends "./base_new.html" %}
{% load static %}
{% block title %} Главная страница {% endblock %}

{% block content %}

<!-- Content-->
<section class="col-lg-9 pt-lg-4 pb-4 mb-3">

    <div class="row row-cards row-deck">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    Главная страница
                    <div class="img-thumbnail rounded-rectangle position-relative flex-shrink-0" style="width: 60.375rem;"><img
                        class="rounded-rectangle" src="{% static '/img/1page.png' %}" alt="Главная страница"></div>
                </div>
            </div>
        </div>
    </div>



</section>


{% endblock %}
